# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Build artifacts
/dist
/build
/out
/coverage

# Operating System files
.DS_Store
Thumbs.db

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing frameworks
/temp
/tmp

# Other common exclusions
*.log
*.pid
*.seed
*.tgz
.npmrc
.yarnrc
.eslintcache