.accent--button--type1 {
    display: flex;
    border-radius: 9999px;
    background-color: var(--second--accent--color);
    color: var(--accent--color);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: background-color 0.3s ease;     
}
.accent--button--type1:hover,
.accent--button--type1:focus {
    background-color: var(--accent--color--hover);
}
