.accent--button--type1 {
    display: flex;
    border-radius: 9999px;
    background-color: var(--second--accent--color);
    color: var(--accent--color);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px; 
    text-align: center;
    align-items: center;
    justify-content: center; 
}
.accent--button--type1:hover,
.accent--button--type1:focus {
    background-color: var(--accent--color--hover);
}

.second--button--type1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--second--background--color);
    height: 100px;
    padding: 12px;
    border-radius: 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    border: none;
    position: relative;
    z-index: 10;
    pointer-events: auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.second--button--type1 * {
    pointer-events: none;
}

.second--button--accent {
    background-color: var(--accent--color) !important;
    color: var(--inverse--color) !important;
}