form {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* height: 100vh; */
    justify-content: space-between;
}
form input {
    padding: 12px 16px;
    font-size: 16px;
    border-bottom: 2px solid var(--border--color);
    /* border-radius: 8px; */
    width: 90%;
}